.custom-nav {
  background-color: #3b82f6;
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

img {
  border-radius: 4px;
  width: 100%;
}

.logo-img {
  width: auto;
  max-height: 100px;
}